test_cuda
detectron2
segmentation/Data
segmentation/Splitted
segmentation/output
object_detection
connection
classification/Data
classification/image_dataset
classification/splitted
classification/model
runs
anormal_detection/Data
anormal_detection/model
generate/Data
diffusers
gan
new_custom
class_backup
classification_dataset
napa_cabbage
yolact
base_data
detection_dataset
new_dataset
new_detection
.env
new_detection2
new_dataset2
classification_dataset2
class_per_2000
class_per_1500
detection_model
splitted_classification
wandb
lhw
lhw_activate.cmd
lhw_deactivate.cmd