test_cuda
detectron2
segmentation/Data
segmentation/Splitted
segmentation/output
object_detection
connection
classification/Data
classification/image_dataset
classification/splitted
classification/model
runs
anormal_detection/Data
anormal_detection/model
generate/Data
diffusers
gan
new_custom
class_backup
classification_dataset
napa_cabbage
yolact
base_data
detection_dataset
new_dataset
new_detection
.env
new_detection2
new_dataset2
classification_dataset2
class_per_2000
class_per_1500
detection_model
splitted_classification
wandb
lhw
lhw_activate.cmd
lhw_deactivate.cmd
yolo_data
yolo_data2
bug_dataset
detection_data
output_dataset
auto_annotation_test
cab_bug_dataset
classification/growth
result
model
Data
new_data
.ipynb_checkpoints
api_testing
training_checkpoints
*.yaml
food_dataset
cls_dataset
cls_dataset2
food_model
food_dataset
food_dataset2
images
labels